* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/*FONTS*/
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui; 
  font-weight: 400;
  font-style: normal;
}


.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*COMMON UI STUFF*/
body {
  background-color: #2A2B2A;
  width: 100%;
  height: 100%;
}

.header {
  background-color: #AD343E;
  display: flex;
  justify-content: space-evenly;
}

.title-header {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding: 0.5%;
  cursor:alias;
}

.title-header h1 a {
  text-decoration: none;
  color: black;
  cursor: alias;
}

.title-header h1 a:visited {
  text-decoration: none;
  color: black;
  cursor: alias;
}

.navbar {
  width: 50%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.navbar ul li:hover {
  background-color: #c85962;
  border: hidden;
  border-radius: 8%;
  padding: 1%;
}

.navbar ul li a {
  text-decoration: none;
  color:#2A2B2A;
  font-family: "Montserrat", sans-serif;
}

.footer {
  background-color: #AD343E;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

/* HOMEPAGE */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  padding: 3%;
  margin: 3%;
}

@keyframes MainIntro {
  0%{color:#DADDD8 ;}
  25%{color:#DADDD8}
  50%{color:black;}
  75%{color:#AD343E;}
  100%{color:#DADDD8;}

}

.intro h2 {
  font-size: 90px;
  color: #DADDD8;
  cursor: url('img/substack-icon.svg'), alias;
  animation:MainIntro 5s 0.3s backwards;
}

.intro h2 a{
  text-decoration: none;
  color: #DADDD8;
  cursor: url('img/substack-icon.svg'), alias;
  animation:MainIntro 5s 0.3s backwards;
}

.intro p {
  font-size: 22px;
}

.services {
  display: flex;
  flex-direction: column;
  background-color: #DADDD8;
  padding: 5%;
  padding-top: 0%;
}

.services-text {
  padding: 5%;
  font-size: 20px;
}

.images-main {
  display: flex;
  justify-content: space-evenly;
}

.services .images-main img{
  width: 30%;
  height: auto;
  border: hidden;
  border-radius: 20% 2% 30% 2%;
  cursor: pointer;
}

.images-main img:hover {
  position: relative;
  top: -8px;
}

.come-visit-us {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}

iframe {
  border: hidden;
  border-radius: 50%;

}

.location {
  color: #AD343E;
  font-size: 20px;
}

/*END OF HOMEPAGE*/

/*ABOUT US*/

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center space-around;
  align-items: center;
  height: 100vh;
}

.main-about h2 {
  font-size: 36px;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #DADDD8;
}

.main-about .description {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.description-img-about {
  width: 40%;
  background-color:#daddd893;
  padding: 3%;
  border: hidden;
  border-radius: 10%;
  color: #2A2B2A;
}

.img-about {
  width: 50%;

}

.img-about img{
  width: 100%;
  height: auto;
  border: hidden;
  border-radius: 10%;
  animation:AboutImg 3s 0.5s backwards;
}

@keyframes AboutImg {
  from{opacity: 0; }
  to{opacity: 1;}
}

/*END OF ABOUT US*/

/*CONTACT US*/

.main-contactus {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('https://i.postimg.cc/QC3qjdzq/image.gif');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main-contactus h2{
  font-size: 36px;
  color: #DADDD8;
  background-color: #AD343E;
  border: hidden;
  border-radius: 5%;
  padding: 1.5%;
  animation-name: ContactUs;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  opacity: 0.7;
}

@keyframes ContactUs {
  from{opacity: 0;}
  to{opacity: 0.7;}
}

.main-contactus .contactus-form{
  background-color: #DADDD8;
  opacity: 0.6;
  padding: 5%;
  border: hidden;
  border-radius: 5%;
  animation-name: ContactUsForm;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes ContactUsForm{
  from{opacity: 0;}
  to{opacity: 0.6;}
}

.main-contactus .contactus-form input {
  color: #AD343E;
  outline: none;
  border: hidden;
  border-radius: 20px;
  padding: 1%;
  width: 100%;

}

.main-contactus .contactus-form textarea {
  color: #AD343E;
  outline: none;
  border: hidden;
  border-radius: 10%;
  padding: 1%;
  width: 100%;
}

.main-contactus .contactus-form #submit-button{
  cursor: pointer;
}

@media screen  and (max-width:715px) {

  *{
    box-sizing: border-box;
  }
  
  /* HOMEPAGE RESPONSIVE */
  .body {
    width: 100vh;
  }

  .navbar ul li a {
    font-size:15px;
  }

  .intro h2{
    font-size: 70px;
  }

  .intro p{
    font-size: 20px;
  }

  .services-text{
    font-size: 18px;
  }

  .location {
    font-size: 18px;
  }

  iframe{
    width: 85%;
  }

  .footer {
    font-size: 12px;
  }

}

/* HOMEPAGE RESPONSIVE */

@media screen and (max-width:530px)  {
  
  * {
    box-sizing: border-box;
  }

  .title-header h1{
    font-size: 30px;
  }

  .navbar ul {
    margin-top: 5%;
  }
  .navbar ul li a {
    font-size: 12px;
  }

  .intro h2 {
    font-size: 70px;
  }

  .intro p {
    font-size: 18px;
  }

  .services-text{
    font-size: 15px;
  }

  .location {
    font-size: 15px;
  }

  iframe{
    width: 80%;
    border-radius: 48%;
  }

  .footer {
    font-size: 10px;
  }

}

@media screen and (max-width:420px) {

  * {
    box-sizing: border-box;
  }

  .title-header h1{
    font-size: 25px;
  }

  .navbar ul {
    margin-top: 3%;
  }
  .navbar ul li a {
    font-size: 9px;
  }

  .intro {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .intro h2 {
    font-size: 55px;
  }

  .intro p {
    font-size: 15px;
  }

  .services-text{
    font-size: 12px;
  }

  .location {
    font-size: 12px;
    height: fit-content;
    align-self: center;
  }

  iframe{
    width: 88%;
    border-radius: 47%;
  }

  .footer {
    font-size: 8px;
  }
  
}

@media screen and (max-width:310px) {
  * {
    box-sizing: border-box;
  }

  .title-header h1{
    font-size: 20px;
    margin-top: 2%;
  }

  .title-header {
    padding-top: 3%;
    padding-bottom: 1%;
  }

  .navbar ul {
    margin-top: 8%;
  }
  .navbar ul li a {
    font-size: 7px;
  }

  .intro h2 {
    font-size: 50px;
  }

  .intro p {
    font-size: 12px;
    justify-self: center;
  }

  .services-text{
    font-size: 9px;
  }

  .location {
    font-size: 9px;
    height: fit-content;
    align-self: center;
  }

  iframe{
    width: 90%;
    border-radius: 20%;
  }

  .footer {
    font-size: 5px;
  }

}

/* ABOUT US RESPONSIVE */

@media screen  and (max-width:795px) {
  
  * {
    box-sizing: border-box;
  }

  .main-about {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 90vh;
 }

  .description .description-img-about p{
    font-size: 11px;
  }

}

@media screen  and (max-width:600px) {

  * {
    box-sizing: border-box;
  }

  .title-header h1{
    font-size: 30px;
  }

  .navbar ul {
    margin-top: 5%;
  }
  .navbar ul li a {
    font-size: 12px;
  }

  .main-about .jura h2 {
    font-size: 30px;
  }

  .description .description-img-about p{
    font-size: 9px;
  }

  .footer {
    font-size: 10px;
  }

}

@media screen  and (max-width:450px) {

  * {
    box-sizing: border-box;
  }

  .title-header h1{
    font-size: 25px;
  }

  .navbar ul {
    margin-top: 4%;
  }
  .navbar ul li a {
    font-size: 10px;
  }

  .main-about .jura h2 {
    font-size: 25px;
  }

  .description .description-img-about p{
    font-size: 9px;
  }

  .footer {
    font-size: 8px;
  }

}

@media screen  and (max-width:350px) {

  * {
    box-sizing: border-box;
  }

  .title-header h1{
    font-size: 20px;
  }

  .navbar ul {
    margin-top: 2%;
  }
  .navbar ul li a {
    font-size: 7px;
  }

  .main-about .jura h2 {
    font-size: 20px;
  }

  .description {
    flex-direction: column;
  }

  .description-img-about {
    width: 70%;
  }

  .footer {
    font-size: 8px;
  }

}

@media screen  and (max-width:250px) {

  * {
    box-sizing: border-box;
  }

  .title-header h1{
    font-size: 15px;
    margin-top: 0;
  }

  .navbar ul {
    margin-top: 2%;
  }
  .navbar ul li a {
    font-size: 5px;
  }

  .main-about .jura h2 {
    font-size: 15px;
  }

  .description {
    flex-direction: column;
  }

  .description-img-about p {
    font-size: 7px;
  }

  .description-img-about {
    width: 80%;
  }

  .footer {
    font-size: 6px;
  }

}

@media screen  and (max-width:195px) {

  * {
    box-sizing: border-box;
  }

  .description-img-about p {
    font-size: 4px;
  }

  .description-img-about {
    width: 80%;
    padding: 2%;
    border-radius: 0;
  }

  .footer {
    font-size: 6px;
  }

}


